table{
  border-collapse: collapse;
  width: 100%;
  border: 1px solid lightgray;
   *{
    font-size: 15px;
  }

  thead{
    background-color:#F4F7FC;
    padding: 10px;
    text-align: start;
    font-size: 0.8em;
    font-weight: 500;

    
  }
  td{
    height: 30px;
    padding: 5px;
    border-bottom: 1px solid lightgrey;
  }

  .result {
    color:white;
  }

}